<div class="center jumbotron">
<h1>Welcome to Slime Social!</h1>
<h2>Connect with friends, share recipes & more!</h2>
<%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>