<div class="nested-fields field">
  <div class="field">
        <%= f.text_field :ingredient_id, class: "input", placeholder: "Ingredient" %>

    <%= link_to_remove_association "remove ingredient", f %>
  
</div>
</div>