<div class="nested-fields field">
    <div class="field has-addons">
      
     <div class="field">  
 <%= f.text_field :ingredient_name, placeholder: "Ingredient" %> 
 <%= link_to_remove_association "remove ingredient", f %>  
 
  </div>
  </div>
</div>



