<div class="nested-fields">
  <div class="field">
    <div class="control">
      
  
 <%= f.text_field :ingredient_name, placeholder: "Ingredient" %>
 <%= link_to_remove_association "remove ingredient", f %>  
 
  </div>
  </div>
</div>



